body{
  background-color: #ccc;
  text-align: center;
  line-height: 1.5;
  color: #333333;
  margin: 0;
 

}
h1{
  font-size: 4rem;
  margin-bottom: 0;
}

main{
  background: #eee;
  border-radius: 5px;
  padding: 15px;
  margin: 30px 8px;
}
span{
  font-weight: bold;
}
p{
  display: block;
}
#title{
  display: block;
}
figure{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
#img-div{
  background: #ffffff;
  padding: 10px;
  margin: 0px;
}
img{
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-caption{
  padding: 15px 0 5px 0;
}

#headline{
  margin: 50px 0;
  text-align: center;
}
h3{
  font-weight: bold;
  display: block;
  font-size: 1.17em;
}
ul{
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;  
  line-height: 1.6;
}
li{
  margin: 16px 0;  
}
blockquote{
  font-style: italic;
  text-align: left;
  max-width: 545px;
  margin: 0 auto 50px auto;
}